
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

.container {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}